@import "reset";

body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px/24px;
}

.overlay {
  background: url('/images/bitcamp.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  position: absolute;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(35, 133, 246, 0.75);
    top: 0;
    left: 0;
  }
  .info-wrap {
    max-width: 1024px;
    width: 80%;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .image-wrap {
      display: inline-block;
      width: 180px;
      height: 180px;
      img {
        width: 100%;
        border-radius: 100%;
        display: inline-block;
        border: 5px solid white;
      }
    }
    .name {
      margin: 12px 0 8px;
    }
    .title {
      font-size: .9em;
      opacity: .8;
      font-weight: 300;
      margin: 0;
      font-style: italic;
    }
    .profile {
      font-size: .95em;
      line-height: 1.5em;
      font-weight: 300;
      margin-bottom: 24px;

      a {
        color: white;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
        &.goidx-link {
          font-weight: 700;
        }
      }
    }
    .links {
      display: flex;
      align-items: center;
      justify-content: center;
      a {
        display: inline-block;
        display: flex;
        align-items: center;
        margin: 0 16px;
        transition: all .2s;
        [class^="icon"] {
          display: block;
          transition: all .2s;
          width: 35px;
          height: 35px;
          fill: white;
        }
        &:hover {
          [class^="icon"] {
            fill: rgba(white, .7);
          }
        }
      }
    }
  }
}